$headerHeight: 5vh;

.App {
  text-align: center;
  font-size: 14px;
}

header {
  background-color: #282c34;
  height: $headerHeight;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 1vmin);
  color: white;
}

section {
  height: calc(100vh - #{$headerHeight});
  display: flex;
  align-items: center;
  justify-content: center;
  table {
    width: 80vw;
  }
}
